<!DOCTYPE html>
<html lang="en">
<head>

  <!-- start: Meta -->
  <meta charset="utf-8">
  <title>Clear - Single Page Responsive portofolio at Bootstrap </title>
  <meta content="Single Page Responsive portofolio at Bootstrap" name="description">
  <meta content="light, responsive, portofolio, single page" name="keywords">
  <!-- end: Meta -->

  <!-- start: Mobile Specific -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
  <!-- end: Mobile Specific -->

    <!-- start: CSS -->
    {{{stylesheets.all}}}
    <!-- end: CSS -->

  <noscript>
    <link rel="stylesheet" type="text/css" href="css/nojs.css" />
  </noscript>

  <!-- start: favicon -->
  <link href="http://s3.amazonaws.com/wrapbootstrap/live/imgs/favicon.ico" rel="shortcut icon">
  <!-- end: favicon -->

  <!-- start: font -->
<!--   <link href='http://fonts.googleapis.com/css?familhy=Source+Sans+Pro:200,400' rel='stylesheet' type='text/css'>
 -->  <!-- end: font -->


    <!--[if IE 9]>
    <style>.social {display:none;}.navbar .nav > li > .connect {display:none;}</style>
  <![endif]-->
    <!--[if IE 8]>
    <style>.ch-grid {float: left;}.ch-grid li {float: left;margin-left:100px;}.about-pattern {background-position: center;background-repeat: repeat-x;border:none;}}</style>
  <![endif]-->

</head>

<body>

  <a id="home"></a><!--anchorLink: home -->

  <!--start: Header -->
  <header>

    <div class="menu-fixed">

      <!--start: Container -->
      <div class="container">

        <!--start: Row -->
        <div class="row-fluid">

          <h1><a href="#" class="logo">SuperSimple</a></h1>

          <!--start: Navigation -->
          <div class="navbar navbar-inverse">
              <div class="navbar-inner">
                    <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar collapsed">
                      <span class="icon-reorder"></span>
                    </a>
              <div class="nav-collapse collapse">
                <ul class="nav pull-right">
                  <li><a href="#home" data-target=".nav-collapse" class="anchorLink">Home</a></li>
                  <li><a href="#service" class="anchorLink">Services</a></li>
                  <li><a href="#work" class="anchorLink">Process</a></li>
                  <li><a href="#about" class="anchorLink">About</a></li>
                  <li><a href="#contact" class="anchorLink">Contact</a></li>
                </ul>
              </div>
            </div>
          </div><!--end: Navigation -->

        </div><!--end: Row -->
      </div><!--end: Container -->

    </div>

  </header><!--end: Header -->

  <!--start: slider -->
  <div id="da-slider" class="da-slider">
    <div class="da-slide">
      <h2>Dropbox Websites</h2>
      <p>Using the power of Dropbox, HTML, and Content Delivery Networks we bring you a whole new website experience. Edit your files anywhere your Dropbox is available, and each time you save your website gets updated automatically.</p>
      <div class="da-icon"><i class="icon-cloud-upload"></i></div>
    </div>

    <div class="da-slide">
      <h2>Dynect DNS</h2>
      <p> The fastest and most reliable <strong>Domain Name Server</strong> hosting in the world. We keep your domain name pointed to the correct servers using the same entrerprise solution used be sites like Twitter and Amazon.</p>
      <div class="da-icon"><i class="icon-exchange"></i></div>
    </div>

    <div class="da-slide">
      <h2>Akamai CDN</h2>
      <p>Your sites load fast, every time. We push all the site assets to a global <strong>Content Delivery Network</strong>. Akamai delivers between 15-30% of all web traffic, leveraging over 73,000 servers in 70 countries within nearly 1,000 networks. All your website files are delivered from the server closest to the website visitor.</p>
      <div class="da-icon"><i class="icon-cloud-download"></i></div>
    </div>

  </div><!-- end: image grid -->

  <hr>
  <hr>

  <!--start: clear-service -->
  <div id="clear-service">
    <div class="service-pattern">
      <!--start: Container -->
        <div class="container">

        <a id="service"></a><!--anchorLink: service -->

        <!-- start: Row -->
        <div class="row">

          <div class="span12">
            <div class="title">
              <h3>Service</h3>
            </div>
          </div>

          <div class="service">
            <div class="span4">
                <div class="ico-service"><i class="icon-cloud"></i></div>
              <h2> <span class="firstword">Universal</span> Access</h2>
              <p> By storing files in Dropbox you are able to access and edit those files from almost anywhere. Hundreds of Applications and Websites seemlessly integrate with Dropbox. You can edit files on your personal computer, mobile phone, or just about any internet connected device. Never worry about FTP clients or connection protocols again!</p>
            </div>
            <div class="span4">
                <div class="ico-service"><i class="icon-retweet"></i></div>
              <h2> <span class="firstword">Built In</span> Redudency</h2>
              <p> Files are stored on your computer, at dropbox, on our dedicated static file servers and in the Akamai CDN. Your files are never getting lost. We can promise you that. Even if you delete a file from Dropbox it can be recovered for 30 days (or longer with the Packrat feature). Even if you saved a bad change, or if the file has been damaged, you can restore the file to an older version with only a few clicks.</p>
            </div>
            <div class="span4">
                <div class="ico-service"><i class="icon-magic"></i></div>
              <h2> <span class="firstword">Unrelenting</span> Perfection</h2>
              <p> You deserve the best. So does your website. We've done the due diligence so you don't have to. You can rest assured the best tools are used for each step of the process. Your site will be running on the same enterprise infrastructure used by many of the top 100 websites.</p>
            </div>
          </div>

          <div class="span12">

          <div class="arrow-down">
              <a class="anchorLink" href="#work"><i class="icon-chevron-down"></i></a>
          </div>

        </div>

        </div><!-- end: Row -->
      </div><!-- end: container -->

    </div><!-- end: service-pattern -->

  </div><!-- end: service -->

  <!--start: comments -->
  <div id="quote">
    <div class="quote">
      <!--start: Container -->
        <div class="container">
          <div class="span11">
          <div class="comments"><i class="icon-quote-left"></i></div>
          <p>Very simple and brilliant idea to host websites. Finally, somebody figured it out.</p>
        </div>
      </div>
    </div>
  </div><!-- end: comments -->

  <!--start: clear-work -->
  <div id="clear-work">
    <div class="work-pattern">
      <!--start: Container -->
        <div class="container">

        <a id="work"></a><!--anchorLink: work -->

        <div class="row"><!-- start: Row -->

          <div class="span12">
            <div class="title">
              <h3>The Process</h3>
            </div>
          </div>

          <div class="span4">

            <div class="thumbs">
              <a href="#project-name-modal-1" data-toggle="modal" class="picture">
                <img class="img-polaroid" alt="portfolio" src="{{urls.theme}}/media/medium/1.jpg">
                <span><i class="icon-info-sign"></i></span>
              </a>
            </div>


            <div class="modal hide fade in" id="project-name-modal-1" aria-hidden="true">
              <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <h3>Step 1</h3>
              </div>
              <div class="modal-body">
                <div class="row-fluid">
                  <div class="span12">
                    <img alt="content" src="{{urls.theme}}/media/large/1.jpg">
                  </div>
                </div>
                <div class="row-fluid">
                  <div class="span6">
                    <h4 class="title-modal">Link your Dropbox account</h4>
                    <p>Typography has one plain duty before it and that is to convey information in writing. No argument or consideration can absolve typography from this duty.</p>
                  </div>
                  <div class="span6">
                    <h4 class="title-modal" >Link</h4>
                    <ul class="icons">
                      <li><i class="icon-phone"></i>  Phone: (123) 456-7890</li>
                      <li><i class="icon-envelope-alt"></i> contact@companyname.com</li>
                      <li><a href="#"><i class="icon-globe"></i> www.companyname.com</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div class="span4">

            <div class="thumbs">
              <a href="#project-name-modal-2" data-toggle="modal" class="picture">
                <img class="img-polaroid" alt="portfolio" src="{{urls.theme}}/media/medium/2.jpg">
                <span><i class="icon-info-sign"></i></span>
              </a>
            </div>


            <div class="modal hide fade in" id="project-name-modal-2" aria-hidden="true">
              <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <h3>Step 2</h3>
              </div>
              <div class="modal-body">
                <div class="row-fluid">
                  <div class="span12">
                    <img alt="content" src="{{urls.theme}}/media/large/2.jpg">
                  </div>
                </div>
                <div class="row-fluid">
                  <div class="span6">
                    <h4 class="title-modal">Locate the SuperSimple folder</h4>
                    <p>First open the Dropbox folder on your computer. After doing so, open the "Apps" directory and then open the "supersimple" directory.</p>
                  </div>
                  <div class="span6">
                    <h4 class="title-modal" >Link</h4>
                    <ul class="icons">
                      <li><i class="icon-phone"></i>  Phone: (123) 456-7890</li>
                      <li><i class="icon-envelope-alt"></i> contact@companyname.com</li>
                      <li><a href="#"><i class="icon-globe"></i> www.companyname.com</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

          </div>


          <div class="span4">

            <div class="thumbs">
              <a href="#project-name-modal-3" data-toggle="modal" class="picture">
                <img class="img-polaroid" alt="portfolio" src="{{urls.theme}}/media/medium/3.jpg">
                <span><i class="icon-info-sign"></i></span>
              </a>
            </div>


            <div class="modal hide fade in" id="project-name-modal-3" aria-hidden="true">
              <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <h3>Step 3</h3>
              </div>
              <div class="modal-body">
                <div class="row-fluid">
                  <div class="span12">
                    <img alt="content" src="{{urls.theme}}/media/large/3.jpg">
                  </div>
                </div>
                <div class="row-fluid">
                  <div class="span6">
                    <h4 class="title-modal">About it</h4>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                  </div>
                  <div class="span6">
                    <h4 class="title-modal" >Link</h4>
                    <ul class="icons">
                      <li><i class="icon-phone"></i>  Phone: (123) 456-7890</li>
                      <li><i class="icon-envelope-alt"></i> contact@companyname.com</li>
                      <li><a href="#"><i class="icon-globe"></i> www.companyname.com</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div class="span4">

            <div class="thumbs">
              <a href="#project-name-modal-4" data-toggle="modal" class="picture">
                <img class="img-polaroid" alt="portfolio" src="{{urls.theme}}/media/medium/4.jpg">
                <span><i class="icon-info-sign"></i></span>
              </a>
            </div>


            <div class="modal hide fade in" id="project-name-modal-4" aria-hidden="true">
              <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <h3>Project</h3>
              </div>
              <div class="modal-body">
                <div class="row-fluid">
                  <div class="span12">
                    <img alt="content" src="{{urls.theme}}/media/large/4.jpg">
                  </div>
                </div>
                <div class="row-fluid">
                  <div class="span6">
                    <h4 class="title-modal">About it</h4>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                  </div>
                  <div class="span6">
                    <h4 class="title-modal" >Link</h4>
                    <ul class="icons">
                      <li><i class="icon-phone"></i>  Phone: (123) 456-7890</li>
                      <li><i class="icon-envelope-alt"></i> contact@companyname.com</li>
                      <li><a href="#"><i class="icon-globe"></i> www.companyname.com</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div class="span4">

            <div class="thumbs">
              <a href="#project-name-modal-5" data-toggle="modal" class="picture">
                <img class="img-polaroid" alt="portfolio" src="{{urls.theme}}/media/medium/5.jpg">
                <span><i class="icon-info-sign"></i></span>
              </a>
            </div>


            <div class="modal hide fade in" id="project-name-modal-5" aria-hidden="true">
              <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <h3>Project</h3>
              </div>
              <div class="modal-body">
                <div class="row-fluid">
                  <div class="span12">
                    <img alt="content" src="{{urls.theme}}/media/large/5.jpg">
                  </div>
                </div>
                <div class="row-fluid">
                  <div class="span6">
                    <h4 class="title-modal">About it</h4>
                    <p>Typography has one plain duty before it and that is to convey information in writing. No argument or consideration can absolve typography from this duty.</p>
                  </div>
                  <div class="span6">
                    <h4 class="title-modal" >Link</h4>
                    <ul class="icons">
                      <li><i class="icon-phone"></i>  Phone: (123) 456-7890</li>
                      <li><i class="icon-envelope-alt"></i> contact@companyname.com</li>
                      <li><a href="#"><i class="icon-globe"></i> www.companyname.com</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div class="span4">

            <div class="thumbs">
              <a href="#project-name-modal-6" data-toggle="modal" class="picture">
                <img class="img-polaroid" alt="portfolio" src="{{urls.theme}}/media/medium/6.jpg">
                <span><i class="icon-info-sign"></i></span>
              </a>
            </div>


            <div class="modal hide fade in" id="project-name-modal-6" aria-hidden="true">
              <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <h3>Project</h3>
              </div>
              <div class="modal-body">
                <div class="row-fluid">
                  <div class="span12">
                    <img alt="content" src="{{urls.theme}}/media/large/6.jpg">
                  </div>
                </div>
                <div class="row-fluid">
                  <div class="span6">
                    <h4 class="title-modal">About it</h4>
                    <p>Typography has one plain duty before it and that is to convey information in writing. No argument or consideration can absolve typography from this duty.</p>
                  </div>
                  <div class="span6">
                    <h4 class="title-modal" >Link</h4>
                    <ul class="icons">
                      <li><i class="icon-phone"></i>  Phone: (123) 456-7890</li>
                      <li><i class="icon-envelope-alt"></i> contact@companyname.com</li>
                      <li><a href="#"><i class="icon-globe"></i> www.companyname.com</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

          </div>


          <div class="span4">

            <div class="thumbs">
              <a href="#project-name-modal-7" data-toggle="modal" class="picture">
                <img class="img-polaroid" alt="portfolio" src="{{urls.theme}}/media/medium/7.jpg">
                <span><i class="icon-info-sign"></i></span>
              </a>
            </div>


            <div class="modal hide fade in" id="project-name-modal-7" aria-hidden="true">
              <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <h3>Project</h3>
              </div>
              <div class="modal-body">
                <div class="row-fluid">
                  <div class="span12">
                    <img alt="content" src="{{urls.theme}}/media/large/7.jpg">
                  </div>
                </div>
                <div class="row-fluid">
                  <div class="span6">
                    <h4 class="title-modal">About it</h4>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                  </div>
                  <div class="span6">
                    <h4 class="title-modal" >Link</h4>
                    <ul class="icons">
                      <li><i class="icon-phone"></i>  Phone: (123) 456-7890</li>
                      <li><i class="icon-envelope-alt"></i> contact@companyname.com</li>
                      <li><a href="#"><i class="icon-globe"></i> www.companyname.com</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div class="span4">

            <div class="thumbs">
              <a href="#project-name-modal-8" data-toggle="modal" class="picture">
                <img class="img-polaroid" alt="portfolio" src="{{urls.theme}}/media/medium/8.jpg">
                <span><i class="icon-info-sign"></i></span>
              </a>
            </div>


            <div class="modal hide fade in" id="project-name-modal-8" aria-hidden="true">
              <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <h3>Project</h3>
              </div>
              <div class="modal-body">
                <div class="row-fluid">
                  <div class="span12">
                    <img alt="content" src="{{urls.theme}}/media/large/8.jpg">
                  </div>
                </div>
                <div class="row-fluid">
                  <div class="span6">
                    <h4 class="title-modal">About it</h4>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                  </div>
                  <div class="span6">
                    <h4 class="title-modal" >Link</h4>
                    <ul class="icons">
                      <li><i class="icon-phone"></i>  Phone: (123) 456-7890</li>
                      <li><i class="icon-envelope-alt"></i>contact@companyname.com</li>
                      <li><a href="#"><i class="icon-globe"></i> www.companyname.com</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div class="span12">

            <div class="arrow-down">
                  <a class="anchorLink" href="#contact"><i class="icon-chevron-down"></i></a>
            </div>

          </div>

        </div><!-- end: Row -->

        <hr>
        <hr>
        <hr>

      </div><!-- end: Container -->
    </div><!-- end: work-pattern -->
  </div><!--end: work -->

  <!--start: clear-about -->
  <div id="clear-about">
    <div class="about-pattern">

        <!--start: Container -->
          <div class="container">

          <a id="about"></a><!--anchorLink: about -->

            <!-- start: Row -->
          <div class="row-fluid">

            <div class="span6">

              <div class="about-us img-polaroid">
                <div class="title">
                  <h3>We love static sites!</h3>
                </div>

                <div class="clearfix">
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>

                  <div class="profile">
                    <img class="img-polaroid" alt="portfolio" src="{{urls.theme}}/media/tiny/21.jpg">
                    <h4>Toohi Wayhu</h4>
                    <p>
                      <a href="#"><i class="icon-twitter"></i></a>
                      <a href="#"><i class="icon-github"></i></a>
                      <a href="#"><i class="icon-linkedin"></i></a>
                      <a href="#"><i class="icon-facebook"></i></a>
                      <a href="#"><i class="icon-google-plus"></i></a>
                    </p>
                  </div>
                  <div class="profile">
                    <img class="img-polaroid" alt="portfolio" src="{{urls.theme}}/media/tiny/12.jpg">
                    <h4>Vapli Xymha</h4>
                    <p>
                      <a href="#"><i class="icon-twitter"></i></a>
                      <a href="#"><i class="icon-github"></i></a>
                      <a href="#"><i class="icon-linkedin"></i></a>
                      <a href="#"><i class="icon-facebook"></i></a>
                      <a href="#"><i class="icon-google-plus"></i></a>
                    </p>
                  </div>
                  <div class="profile">
                    <img class="img-polaroid" alt="portfolio" src="{{urls.theme}}/media/tiny/39.jpg">
                    <h4>Ijabe Taeme</h4>
                    <p>
                      <a href="#"><i class="icon-twitter"></i></a>
                      <a href="#"><i class="icon-github"></i></a>
                      <a href="#"><i class="icon-linkedin"></i></a>
                      <a href="#"><i class="icon-facebook"></i></a>
                      <a href="#"><i class="icon-google-plus"></i></a>
                    </p>
                  </div>



                </div>
              </div>

            </div>

          </div><!-- end: Row -->
        </div><!-- end: Container -->

    </div><!-- end: team-pattern -->
  </div><!-- end: team -->


  <!--start: clear-contact -->
  <div id="clear-contact">
    <div class="contact-pattern">

      <!-- start: Container -->
      <div class="container">

        <!--start: anchor service -->
        <a id="contact"></a><!--anchorLink: contact -->

        <!-- start: Row -->
        <div class="row">

          <div class="span3">
            <div class="title"><h3>Contact</h3></div>
          </div>

          <div class="span12 img-polaroid">

            <div id="maps">&nbsp;</div>


          </div>

          <!-- start: Contact Info -->
          <div class="span3">
            <div class="title"><h3>Info</h3></div>
            <p>
              <b>Sundays Energy, Inc.</b>
            </p>

            <p>
              <i class="icon-map-marker"></i> 2637 27th Ave S, STE 100
            </p>
            <p>
              <i class="icon-map-marker"></i>  Mpls, MN 55406
            </p>
            <p>
              <i class="icon-phone"></i>  Phone: (612) 605-1788
            </p>
            <p>
              <i class="icon-print"></i>  Fax: +08 (123) 456-7890
            </p>
            <p>
               <i class="icon-envelope-alt"></i> info@sundaysenergy.com
            </p>
            <p>
              <i class="icon-globe"></i><a href="">www.sundaysenergy.com</a>
            </p>
          </div><!-- end: Contact Info -->

          <div class="span3">
            <div class="title">
              <h3>Proud of our work</h3>
            </div>
            <div>
              <div class="descr-bio">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
              </div>
            </div>
          </div>

          <!-- start: Contact Form -->
          <div class="span6">
            <div class="title"><h3>Send us a message</h3></div>
          </div>

          <!-- start: Contact Form -->
          <div id="contact-form">

              <form class="form-contact" action="#" method="post">

                <div class="span3">
                  <fieldset>
                    <div class="clearfix">
                      <div class="input">
                        <div class="input-prepend">
                          <span class="add-on">Name:</span>
                          <input type="text" class="input" value="" id="name" size="18" tabindex="1">
                        </div>
                      </div>
                    </div>

                    <div class="clearfix">
                      <div class="input">
                        <div class="input-prepend">
                          <span class="add-on">Email:</span>
                          <input type="text" class="input" value="" id="email" size="25" tabindex="2">
                        </div>
                      </div>
                    </div>

                    <div class="clearfix">
                      <div class="input">
                        <div class="input-prepend">
                          <span class="add-on">Site &nbsp;&nbsp;:</span>
                          <input type="text" class="input" value="" id="site" size="25" tabindex="2">
                        </div>
                      </div>
                    </div>
                  </fieldset>
                </div>
                <div class="span3">
                  <fieldset>
                    <div class="clearfix">
                      <div class="input">
                        <textarea rows="6" name="body" id="message" class="input" tabindex="3"></textarea>
                      </div>
                    </div>

                    <div class="actions">
                      <button class="btn send btn-large " type="submit" tabindex="3">Send message</button>
                    </div>
                  </fieldset>
                </div>
              </form>

          </div>
          <!-- end: Contact Form -->

          <div class="span12">
            <div class="arrow-down">
                  <a class="anchorLink" href="#home"><i class="icon-chevron-up"></i></a><!--anchorLink: home -->
            </div>
          </div>

        </div><!-- end: Row -->
      </div><!--end: Container -->

    </div><!--end: contact-patern -->
  </div><!--end: wrapper contact -->

  <footer>
    <div class="wrapfooter">

      <!-- start: Container -->
      <div class="container">

        <!-- start: Row -->
        <div class="row">

          <!-- start: copyright -->
          <div class="span3">
            <div class="copyright">
              <p class="copyright">&copy; 2013 Sundays Energy, Inc.</p>
            </div>
          </div>

          <div class="span9">
            <div class="footer-social">
              <a href="#"><i class="icon-twitter"></i></a>
              <a href="#"><i class="icon-github"></i></a>
              <a href="#"><i class="icon-linkedin"></i></a>
              <a href="#"><i class="icon-facebook"></i></a>
              <a href="#"><i class="icon-google-plus"></i></a>
              <a href="#"><i class="icon-pinterest"></i></a>
            </div>
          </div>

        </div><!-- end: Row -->
      </div><!--end: Container -->

    </div>
  </footer>


  <!-- start: script -->
  {{{javascripts.all}}}
  <!-- end: script -->

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </body>

</html>
